.bottom-nav {
  display: none;
}

@media (max-width: 900px) {
  .bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: var(--white);
    border-top: 1px solid var(--gray);

    justify-content: space-around;
    padding: 12px 0;

    z-index: 2000;
  }

  .nav-item {
    font-size: 22px;
    cursor: pointer;
    color: var(--navy);
    transition: 0.2s;
  }

  .nav-item:hover {
    transform: scale(1.2);
    color: var(--yellow);
  }
}